body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.isaa{
    color: orangered;
}
.flexible-container{
    display: flex;
}
.padding{
    padding: 10px 25px;
    margin: 0 10px;
}
.exp{
    font-size: 3em;
    margin-left: 39%;
    color: white;
    background-color: black;
    border-radius: 6px;
    padding: 8px 20px;
}
.box{
    display: flex;
}
.inbox{
    box-shadow: 10px 10px 35px gray;
    padding: 25px;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 45px;
    margin-right: 35px;

}
#color{
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.half-width{
    width: 50%;
    padding: 7%;
}
.half-width img{
    width: 70%;
}
.hireme{
    text-decoration: none;
    background-color: rgb(83, 83, 167);
    color: white;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 7px;
}
.scnd-psrt{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
}